<div class="feature_products">
  <div class="container">
    
    {% if section.settings.title != blank %}
      <div class="feature_products_title text-center">
        <h2>{{ section.settings.title }}</h2>
      </div>
    {% endif %}

    <div class="feature_products_grid">
      {% for product in collections[section.settings.collection].products limit: section.settings.product_limit %}
        <div class="feature_product_item">
          <a href="{{ product.url }}">
            <div class="product_image_wrapper">
              <img 
                src="{{ product.featured_image | image_url: width: 600 }}" 
                alt="{{ product.title | escape }}"
                loading="lazy"
              >
            </div>

            <div class="products_content">
              <h3 class="products_title">{{ product.title }}</h3>

              <div class="rating_icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>

              <p class="products_price">
                {{ product.price | money_without_trailing_zeros }}
              </p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    {% if section.settings.show_view_all %}
      <div class="see_all_products text-center">
        <a href="{{ collections[section.settings.collection].url }}" class="btn btn-outline-dark">
          View All
        </a>
      </div>
    {% endif %}
  </div>
</div>



{% schema %}
{
  "name": "Feature-Products",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_limit",
      "label": "Number of products to show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View All' button",
      "default": true
    },
    {
      "type": "select",
      "id": "products_align",
      "label": "Products Alignment",
      "default": "left",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature-Products",
      "category": "Products sections"
    }
  ]
}
{% endschema %}